/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings:
    "wght" var(--main-font-weight),
    410;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 123px;
  margin-block-start: 100px;
  margin-block-end: 98px;
  border: 2px solid var(--accent-border-color);
  background-color: #fff;
}

.section__content {
  width: var(--section-content-width);
  margin-inline: auto;
}

.header__title {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
  padding-bottom: 21px;
}

.header__text {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 100px;
}

.main__card {
  border: 2px solid var(--accent-border-color);
  margin-block-end: 52px;
  background-color: #fff;
}

.main__card-title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings:
    "wght" var(--title-font-weight),
    715;
  font-weight: 715;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  padding: 4px 10px;
}

.main__card-image {
  position: relative;
  border-block: 2px solid var(--accent-border-color);
}

.image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.main__card-label {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow:
    1 0 var(--card-label-stroke-color),
    0 1 var(--card-label-stroke-color),
    -1 0 var(--card-label-stroke-color),
    0 -1 var(--card-label-stroke-color);
}

@supports (
  (-webkit-text-stroke: 1px var(--card-label-stroke-color)) or
    (text-stroke: 1px var(--card-label-stroke-color))
) {
  .main__card-label {
    -webkit-text-stroke: 1px var(--card-label-stroke-color);
    text-stroke: 1px var(--card-label-stroke-color);
    text-shadow: none;
  }
}

.main__card-description {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.main__card-text {
  font-family: var(--main-font), sans-serif;
  font-weight: 410;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
}

.main__card-icon {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.main__card-icon:focus {
  outline: none;
}

.main__card-icon:focus-visible {
  border-color: var(--accent-border-color);
}

.card__icon-button {
  width: 39px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__icon-button,
.card__icon-button:hover::before,
.card__icon-button::before {
  transition: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-border-color);
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--countur-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--countur-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.card__like-button,
.button {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 38px;
  padding: 0;
  align-items: center;
  background-color: #ffffff;
}

.button__text {
  vertical-align: middle;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.image-blur {
  filter: blur(5px);
}

.image-brightness {
  filter: brightness(120%);
}

.image-drop-shadow {
  filter: drop-shadow(var(--x-shadow, 0) var(--y-shadow, 0) 30px #ff0000);
}

.image-hue-rotate {
  filter: hue-rotate(30deg);
}

.image-sepia {
  filter: sepia(1);
}

.image-grayscale {
  filter: grayscale(1);
}

.image-multiple-filter {
  filter: blur(1px) grayscale(0.6) brightness(120%);
}

.button__save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  gap: 8px;
  cursor: pointer;
  width: 335px;
  height: 55px;
  padding: 0;
  background-color: #ffffff;
}

.button__save-icon {
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
  position: relative;
  /* color: #fff; */
}

.button__save-icon:hover {
  color: #fff;
}

.dialog {
  display: none;
  width: 355px;
  padding: 30px;
  border: 2px solid #000;
  background-color: #fff;
}

.dialog[open] {
  display: block;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  position: relative;
  z-index: 1;
  width: 39px;
  height: 39px;
  color: #fff;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button {
  position: relative;
  overflow: hidden;
  min-block-size: 38px;
  padding: 20.5px 20px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.dialog__button {
  grid-column: 1 / -1;
  width: 100%;
  text-transform: uppercase;
}

.like-button,
.button,
.button__save,
.button__save-icon {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.like-button::before,
.button::before,
.button__save::before,
.button__save-icon::before {
  position: absolute;
  content: "";
  inset: 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  background-color: #000;
}

.like-button:hover::before,
.button:hover::before,
.button__save:hover::before,
.button__save-icon.button:hover::before {
  transform: translateX(0);
}

.like-button:focus,
.button.button:focus,
.button__save:focus,
.button__save-icon:focus {
  outline: none;
}

.like-button:focus-visible,
.button:focus-visible,
.button__save:focus-visible,
.button__save-icon:focus-visible {
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.like-button:hover span,
.button:hover span,
.button__save:hover span {
  color: #fff;
  z-index: 1;
}

.like-icon.is-liked .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

@media (width <= 375px) {
  .button__save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .header {
    padding: 122px 16px;
  }

  .button__save {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .header__title {
    font-size: 49px;
  }

  .header__text {
    font-size: 14px;
  }
}
